# dependencies
node_modules/
.yarn/
yarn-error.log
npm-debug.log

# build output
lib/
src-gen/
gen-webpack*.js
.theia/
*.tsbuildinfo

# electron-builder output
dist/

# downloaded vscode builtin plugins (em qualquer workspace)
plugins/
**/plugins/

# misc
.DS_Store
*.log
.env
